[submodule "_includes/wiki"]
	path = _includes/wiki
	url = https://github.com/rapidExpedition/rapidExpedition.wiki.git
[submodule "_includes/wayPoint"]
	path = _includes/wayPoint
	url = https://github.com/rapidExpedition/wayPoint.wiki.git