/* Fixes for FlexSlider on Lanyon */

.flexslider {
    line-height: normal;
}

.slides img {
    border-radius: 0;
    margin: 0;
}

/*
  #DONE: opening up the goToGitHub functionality to work with a regular link instead of just the octicon  id:0
  #TODO: Figure out how to display the link address in the status bar when hovering over the link and apply that to the [prose](/public/css/prose.css) and [octicon](/public/css/octicons.css) links, as well. +enhancement id:2 gh:3
*/

.link {
  cursor: pointer;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
