@font-face {
  font-family:'octicons';
    src:url('../../public/fonts/octicons.eot');
    src:url('../../public/fonts/octicons.eot') format('embedded-opentype'),
        url('../../public/fonts/octicons.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

.octicon-octoface {
  font-family:'octicons';
  font-size:18px;
  position: absolute;
  top: 1rem;
  left: 6rem;
  display: block;
  width: 2.2rem;
  padding: .14rem .56rem;
  color: #505050;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.octicon-octoface:before {
  content: "\f008";
  display: block;
  width: 100%;
  padding-top: .12rem;
  padding-left: .1rem;
  padding-bottom: .01rem;

  /* Make the border inside the box */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.octicon-octoface:active {
  color: #fff;
  background-color: #505050;
}

.octicon-book {
  font-family:'octicons';
  font-size:18px;
  position: absolute;
  top: 1rem;
  left: 6rem;
  display: block;
  width: 2.2rem;
  padding: .14rem .56rem;
  color: #505050;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.octicon-book:before {
  content: "\f007";
  display: block;
  width: 100%;
  padding-top: .12rem;
  padding-left: .1rem;
  padding-bottom: .01rem;

  /* Make the border inside the box */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.octicon-book:active {
  color: #fff;
  background-color: #505050;
}

@media (max-width: 30.1rem) {
  .octicon-octoface {
    font-size:12px;
    position: fixed;
    width: 2.25rem;
  }
  .octicon-octoface:before {
    padding-top: .24rem;
    padding-left: .2rem;
    padding-bottom: .01rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
  .octicon-book {
    font-size:12px;
    position: fixed;
    width: 2.25rem;
  }
  .octicon-book:before {
    padding-top: .24rem;
    padding-left: .2rem;
    padding-bottom: .01rem;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
}
