<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-image">
    <img src="{{ root }}{{ "public/img/" | relative_url }}{{ site.sidebarImage }}">
  </div>

  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

<!-- #TODO: the following (first sidebar-nav item) really requires some generalization, but that might be a task for a broader project which aims at modifying the whole Lanyon template id:42
-->
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Staging Grounds" %} active{% endif %}" href="{{ root }}{{ "stagingGrounds/" | relative_url }}">Staging Grounds</a>
    <a class="sidebar-nav-item{% if page.title == "Blog" %} active{% endif %}" href="{{ root }}{{ "blog/" | relative_url }}">Blog</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% comment %}
      // DONE: site is now working on IPFS, as seen [here](https://gateway.ipfs.io/ipfs/QmcbVg9cZkg7hhj86ezepST3yZfpypCizpato1DyGpxDNa/) id:1 +relativization gh:1
    {% endcomment %}

    {% capture root %}{% if page.root %}{{ page.root }}{% elsif post.root %}{{ post.root }}{% else %}{{ default.root }}{% endif %}{% endcapture %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.portal == true %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ root }}{{ node.url | remove_first:'/' }}">{{ node.title }}</a> <!-- #TODO: figure out how to activate the page under which a sub-page is accessed and/or figure out some kind of nesting scheme that's not too cumbersome +sidebarToC +enhancement  id:0 gh:2-->
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>
  <p>
  <div class="sidebar-item">
        {% include license.html %}
  </div>
  <div class="sidebar-item">
      <small>Currently <a href="https://github.com/rapidExpedition/theExpeditionarium/archive/v0.2-alpha.zip">v0.2-alpha</a>+ <a href="https://ipfs.fleek.co/ipfs/QmYxyHvTro9xYAYPcJmyXvVHoXfwwU1wYrMRqSSAMGuffo" title="QmYxyHvTro9xYAYPcJmyXvVHoXfwwU1wYrMRqSSAMGuffo" alt="/ipfs/QmYxyHvTro9xYAYPcJmyXvVHoXfwwU1wYrMRqSSAMGuffo"><img style="width:2em; height:2em; display:inline-block; vertical-align:top" src="https://ipfs.fleek.co/ipfs/bafkreicncneocapbypwwe3gl47bzvr3pkpxmmobzn7zr2iaz67df4kjeiq"></a></small>
      <small><br>Nightly: <a href="https://ipfs.fleek.co/ipns/rapidExpedition.eth">rapidExpedition.eth</a></small></div>
</div>
