<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Welcome" %} active{% endif %}" href="{{ site.baseurl }}/">Welcome</a>
    <a class="sidebar-nav-item{% if page.title == "Blog" %} active{% endif %}" href="{{ site.baseurl }}blog/">Blog</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <div id="sidebar-tree" ></div>

    <script type="text/javascript">
        var tree = { add : addUrl };

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null and node.layout == "page" and node.published == true %}
        tree.add('{{ node.url }}', '{{ node.title }}', {% if page.url == node.url %}true{% else %}false{% endif %});
          {% endif %}
        {% endfor %}

        document.getElementById('sidebar-tree').innerHTML = printSidebar(tree, repeatString('&nbsp', 6));
    </script>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
